.App-header {
  background: yellow;
  text-align: center;
  font-size: 75px;
  font-weight: bold;
  line-height: 100px;
  color: rgb(33, 27, 225);
  position: sticky;
}

.App-center{
text-align: center;
}

.App-footer{
  background: yellow;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
}