body {
  margin: 0px
}

.header {
  text-align: center;
  background: yellow;
  font-size: 81px;
  font-weight: bold;
  position: sticky;
  width: 100%;
  top: 0px;
}

.menu {
  text-align: right;
  background: grey;
  line-height: 40px;
  position: sticky;
  width: 100%;
  top: 93px;
}

.menu > a {
  font-size: 25px;
  margin-right: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  text-decoration: none;
}

.footer{
  font-size: 25px;
    font-weight: bold;
    text-align: center;
    background: yellow;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul >li{
  line-height: 40px;
}