.home{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.button>button{
  margin-right: 20px;
  
}

.about{
    font-size: 25px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
  }

  .contact{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }